{% extends "index.html" %}
<!-- загружаю библиотеки: -->
{% load thumbnail humanize %}
{% block application %}
    <div class="house-detail">
        <a href="{% url 'home' %}">Главная</a>

        <h1 class="house-name">{{ house.name }} <span class="price">{{ house.price|intcomma }} &#x20bd; </span></h1>
        <div></div>
        <div>{{ house.description }}</div>
        <!-- добавим в шаблон условие: если у дома есть фотография -->
        {% thumbnail house.photo "650x400" crop="center" as im %}
            <!-- то вывести тег img и добавить ссылку на эту фотографию -->
            <!-- а в атрибут alt имя дома -->
            <img src="{{ im.url }}" alt="Дом {{ house.name }}">
        {% endthumbnail %}


        <h2>Заявка</h2>
        {% if sent %}
            <p>Спасибо! Ваша заявка принята.</p>
        {% endif %}
        <form method="post" class="order-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Отправить заявку</button>
        </form>
    </div>
{% endblock %}

